StockBrokerClientApplication/src/wsdl/localhost_8080/StockBrokeringWebService/StockBrokeringWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://StockBrokeringWebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://StockBrokeringWebService/" name="StockBrokeringWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://StockBrokeringWebService/" schemaLocation="http://localhost:8080/StockBrokeringWebService/StockBrokeringWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="buyShare">
<part name="parameters" element="tns:buyShare"/>
</message>
<message name="buyShareResponse">
<part name="parameters" element="tns:buyShareResponse"/>
</message>
<message name="genorateRandomCompanyData">
<part name="parameters" element="tns:genorateRandomCompanyData"/>
</message>
<message name="genorateRandomCompanyDataResponse">
<part name="parameters" element="tns:genorateRandomCompanyDataResponse"/>
</message>
<message name="getAllSymbols">
<part name="parameters" element="tns:getAllSymbols"/>
</message>
<message name="getAllSymbolsResponse">
<part name="parameters" element="tns:getAllSymbolsResponse"/>
</message>
<message name="getCompanyData">
<part name="parameters" element="tns:getCompanyData"/>
</message>
<message name="getCompanyDataResponse">
<part name="parameters" element="tns:getCompanyDataResponse"/>
</message>
<portType name="StockBrokeringWebService">
<operation name="buyShare">
<input wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/buyShareRequest" message="tns:buyShare"/>
<output wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/buyShareResponse" message="tns:buyShareResponse"/>
</operation>
<operation name="genorateRandomCompanyData">
<input wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/genorateRandomCompanyDataRequest" message="tns:genorateRandomCompanyData"/>
<output wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/genorateRandomCompanyDataResponse" message="tns:genorateRandomCompanyDataResponse"/>
</operation>
<operation name="getAllSymbols">
<input wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/getAllSymbolsRequest" message="tns:getAllSymbols"/>
<output wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/getAllSymbolsResponse" message="tns:getAllSymbolsResponse"/>
</operation>
<operation name="getCompanyData">
<input wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/getCompanyDataRequest" message="tns:getCompanyData"/>
<output wsam:Action="http://StockBrokeringWebService/StockBrokeringWebService/getCompanyDataResponse" message="tns:getCompanyDataResponse"/>
</operation>
</portType>
<binding name="StockBrokeringWebServicePortBinding" type="tns:StockBrokeringWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buyShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genorateRandomCompanyData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSymbols">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompanyData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StockBrokeringWebService">
<port name="StockBrokeringWebServicePort" binding="tns:StockBrokeringWebServicePortBinding">
<soap:address location="http://localhost:8080/StockBrokeringWebService/StockBrokeringWebService"/>
</port>
</service>
</definitions>